/* start font */
@import url('https://fonts.googleapis.com/css?family=Raleway');
/* End font */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600;);


/* start body */
body {
    color: black;
    font-family: Raleway, Helvetica, Arial,sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    background-color: black;
}
/* End body */

/* start debug */
.bg-blue {
    background-color: white;
}

.bg-red {
    background-color: wheat;
}
/* End debug */

/* start contaiter */
.container {
    margin: 10px auto;
    overflow: auto;
    width: 90%;
}
/* End container */
.container-full {
    margin: 10px auto;
    overflow: auto;
    width: 90%;
}
/* start slider */
.mySlides img {
    object-fit: cover;
}
/* Yang membuatnya jadi slider */
ul.slide li {
    display: inline-block;
    float: left;
    -webkit-boxsizing: border-box;
    -moz-boxsizing: border-box;
    -moz-boxsizing: border-box;
    -webkit-transition: -webkit-transform 2000ms;
    -moz-transition: -moz-transform 2000ms;
    transition: -webkit-transform 2000ms, transform 2000ms;
 }
 ul.slide li.slide-1 {
  left: 0%;
 }
 ul.slide li.slide-2 {
  left: 100%;
 }
 ul.slide li.slide-3 {
  left: 200%;
 }
 #nav-1:checked ~ ul.slide li{
    -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
    transform: translateX(0%);
 }
 #nav-2:checked ~ ul.slide li{
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
   transform: translateX(-100%);
 }
 #nav-3:checked ~ ul.slide li {
    -webkit-transform: translateX(-200%);
    -moz-transform: translateX(-200%);
    transform: translateX(-200%);
 }
/* End, yang membuatnya jadi slider */


/* Navigator */

.radio-nav { /* menghilangkan radio button */
 display: none;
}
 
 /* styling untuk tombol next dan previous slide */
 .nav-arrow {
  position: absolute;
  top:45%;
  width:50px;
  height: 50px;
 }
 .nav-next {
  right:10px;
 }
 .nav-prev {
  left:10px;
 }
 .nav-arrow label {
  -webkit-transition:all 0.3s;
  -moz-transition:all 0.3s;
  transition:all 0.3s;
  background-color: rgba(0,0,0,0.3);
  color: #fff;
  border-radius: 50%;
  display: block;
  position: absolute;
  padding:15px 20px;
  cursor: pointer;
  z-index: 1;
  opacity: 0;
  font-weight: bold;
  line-height: 1;
 }
 .container:hover .nav-arrow label{
  background-color: rgba(0,0,0,0.7);
 }
 /* end styling untuk tombol next dan previous slide */
 /*Setiap slide mempunya tombol prev dan next-nya masing-masing. Nah, tampilkan tombol yang tepat dengan kode dibawah ini*/ 
 #nav-1:checked ~ .nav-prev label.nav-3,
 #nav-1:checked ~ .nav-next label.nav-2,
 #nav-2:checked ~ .nav-prev label.nav-1,
 #nav-2:checked ~ .nav-next label.nav-3,
 #nav-3:checked ~ .nav-prev label.nav-2,
 #nav-3:checked ~ .nav-next label.nav-1 {
  z-index: 2;
  opacity: 1;
 }
 /* end */

/* Navigator */
	
/* form */
.form-style-3{
	max-width: 450px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-3 label{
	display:block;
	margin-bottom: 10px;
}
.form-style-3 label > span{
	float: left;
	width: 100px;
	color: #F072A9;
	font-weight: bold;
	font-size: 13px;
	text-shadow: 1px 1px 1px #fff;
}
.form-style-3 fieldset{
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	margin: 0px 0px 10px 0px;
	border: 1px solid #FFD2D2;
	padding: 20px;
	background: #FFF4F4;
	box-shadow: inset 0px 0px 15px #FFE5E5;
	-moz-box-shadow: inset 0px 0px 15px #FFE5E5;
	-webkit-box-shadow: inset 0px 0px 15px #FFE5E5;
}
.form-style-3 fieldset legend{
	color: #FFA0C9;
	border-top: 1px solid #FFD2D2;
	border-left: 1px solid #FFD2D2;
	border-right: 1px solid #FFD2D2;
	border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	background: #FFF4F4;
	padding: 0px 8px 3px 8px;
	box-shadow: -0px -1px 2px #F1F1F1;
	-moz-box-shadow:-0px -1px 2px #F1F1F1;
	-webkit-box-shadow:-0px -1px 2px #F1F1F1;
	font-weight: normal;
	font-size: 12px;
}
.form-style-3 textarea{
	width:250px;
	height:100px;
}
.form-style-3 input[type=text],
.form-style-3 input[type=date],
.form-style-3 input[type=datetime],
.form-style-3 input[type=number],
.form-style-3 input[type=search],
.form-style-3 input[type=time],
.form-style-3 input[type=url],
.form-style-3 input[type=email],
.form-style-3 select, 
.form-style-3 textarea{
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border: 1px solid #FFC2DC;
	outline: none;
	color: #F072A9;
	padding: 5px 8px 5px 8px;
	box-shadow: inset 1px 1px 4px #FFD5E7;
	-moz-box-shadow: inset 1px 1px 4px #FFD5E7;
	-webkit-box-shadow: inset 1px 1px 4px #FFD5E7;
	background: #FFEFF6;
	width:50%;

}
.form-style-3  input[type=submit],
.form-style-3  input[type=button]{
	background: #EB3B88;
	border: 1px solid #C94A81;
	padding: 5px 15px 5px 15px;
	color: #FFCBE2;
	box-shadow: inset -1px -1px 3px #FF62A7;
	-moz-box-shadow: inset -1px -1px 3px #FF62A7;
	-webkit-box-shadow: inset -1px -1px 3px #FF62A7;
	border-radius: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;	
	font-weight: bold;
}
.form-style-3 .required{
	color:red;
	font-weight:normal;
}
/* End slider */

/* start logo */
.logo {
    text-align: center;
}
/* End logo */

/* start color */
.color {
    color: white;
    text-align: center;
}
/* End color */
/* start Anchor / hyperlink */
a:link,
a:visited {
    color: blue;
    text-decoration: none;
}
a:hover,
a:active {
    color: black;
    text-decoration: underline;
}
/* End Anchor / hyperlink */

/* start Menu primer */
.menu-primer ul {
    background-color: wheat;
    border-radius: 4px;
    box-shadow: 
    0 3px 5px -1px rgba(0, 0, 0, .2),
    0 6px 10px 0px rgba(228, 199,189, 14),
    0 1px 18px 0px rgba(0, 0, 0, .12);  
    text-align: center;
}

.menu-primer li {
    border-right: 1px solid #d1d5da;
    display: inline-block;
     
}

.menu-primer a {
    color: black;
    font-size: 13px;
    padding: 10px 20px;
    text-transform: uppercase; 
    letter-spacing: 1px;
    display: inline-block;
    margin: 0 -4px;

}

.menu-primer a:hover {
    background-color: papayawhip;
    color: #333333;
    text-decoration: none;
}

.menu-primer .active {
    background-color: aliceblue;
    color: black;
    text-decoration: none;
}
/* End Menu primer */

/* start Heading */
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    letter-spacing: 100;

}
h1 {
    font-size: 28px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
    
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 13px;
}
/* End Heading */

/* start jumbobron */
.jumbotron {
    background-color: papayawhip;
    border: 1px solid brown;
    border-radius: 4px;
    padding: 20px 0; 
    
}
.jumbotron h1 {
    font-size: 32px;
    padding: 0 20px;
}
.jumbotron h3 {
    font-size: 20px;
    padding: 0 20px;
}
/* End jumbotron */

/* start video */
.video {
    text-align: center;
}
/* End video */

/* start main */
.main-home-one {
    float: left;
    width: 49.5%;
}
.main-home-two {
    float: right;
    width: 49.5%;
}
.main-home-one .box-isi,
.main-home-two .box-isi {
    height: 140px;
}

.main-one {
    float: left;
    overflow: auto;
    width: 70%;
}

/* End Main */
/* start sidebar */
.sidebar-two {
    float: right;
    overflow: auto;
    width: 29%;
}
/* End sidebar */

/* start box */
.box-heading {
    background-color: papayawhip; 
    border: 2px solid burlywood;
    border-radius: 8px 8px 8px 8px;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    line-height: 0em;
    text-align: center;
}

.box-isi {
    background-color: aliceblue;
    border: 1px solid plum;
    border-top: 0;
    margin: 0;
    padding: 10px 20px;
    border-radius: 8px 8px 8px 8px;
    line-height: 1.5em;
}
/* End box */

/* start layanan */
.layanan-table {
    border: 1px solid papayawhip;
    border-collapse: collapse;
    margin: auto;
    width: 100%;
}
.layanan-table th {
    background-color: papayawhip;
}
.layanan-table td {
    text-align: center;
}
/* End layanan */

/* start form */
input[type="text"],
input[type="email"] 
textarea {
    font-size: 14px;
    padding: 10px;
}
input::placeholder,
textarea::placeholder {
    color: gray;
    font-weight: 300;
    
}

input[type="submit"] {
    background-color: white;
    background-image: linear-gradient(-180deg, #fafbfc #eff3f6 90%);
    border: 1px solid rgba(27, 31, 35, 0.2);
    border-radius: 4px;
    color: gray;
    font-size: 12px;
    font-weight: bold;
    margin: 5px 10px;
    text-decoration: none !important;
    text-transform: uppercase;
    letter-spacing: 1px;
}
/* End form */

/* start form contact */
.contact-form div {
    margin: 20px 0;
}
/* End form contact */

/* start testimoni */
.testimoni {
    border-left:4px solid burlywood;
    margin-left: 20px;
    padding: 10px;
}
/* End testinomi */
/* Strat menu sekunder */
.menu-sekunder {
    background-color: papayawhip;
    border-bottom: 2px solid burlywood;
    border-top: 2px solid burlywood;
    overflow: auto; 
    padding: 10px 0;
}
.menu-sekunder h4 {
    font-size: 14px;
    text-transform: uppercase;
    margin: 0 auto;

}
.menu-sekunder ul {
    padding: 0;
}
.menu-sekunder li {
    list-style: disc;
}
.menu-sekunder li a
.menu-sekunder p {
    font-size: 12px;
}
.menu-sekunder-one,
.menu-sekunder-two,
.menu-sekunder-three {
    float: left;
} 
.menu-sekunder-one {
    width: 40%;
}
.menu-sekunder-two,
.menu-sekunder-three {
    width: 30%;
}
.menu-sekunder li img {
    vertical-align: middle;
}
/* End menu sekunder */

/* start copyright */
.copyright p{
    font-size: 15px;
    text-align: center;
}
/* End copyright */

/* start snip */
.snip1571 {
    background-color: #000;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 10px;
    max-width: 23%;
    min-width: 23%;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
  }
  .snip1571 *,
  .snip1571 *:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }
  .snip1571 img {
    backface-visibility: hidden;
    max-width: 100%;
    vertical-align: top;
  }
  .snip1571 figcaption {
    bottom: 30px;
    left: 0;
    position: absolute;
    z-index: 0;
  }
  .snip1571 figcaption:before {
    background-color: #ffffff;
    bottom: -5px;
    content: '';
    left: 0;
    position: absolute;
    right: 100%;
    top: -5px;
    z-index: -1;
  }
  .snip1571 h3 {
    background-color: #c73232;
    color: #ffffff;
    font-size: 0.9em;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0;
    padding: 5px 10px;
    text-transform: uppercase;
    z-index: 1;
  }
  .snip1571 a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  .snip1571:hover > img,
  .snip1571.hover > img {
    opacity: 0.1;
  }
  .snip1571:hover figcaption:before,
  .snip1571.hover figcaption:before {
    right: -5px;
  }
/* End snip */